.icon--idea {
  background-image: image-url('steps/lightbulb.svg');
}
.icon--debate {
  background-image: image-url('steps/people.svg');
}
.icon--draft {
  background-image: image-url('steps/speechbubbles.svg');
}
.icon--vote {
  background-image: image-url('steps/decide.svg');
}
.icon--reward {
  background-image: image-url('steps/transparency.svg');
}

.icon--email {
  background-image: image-url('social/mail.svg');
}
.icon--twitter {
  background-image: image-url('social/twitter.svg');
}
