.icon--notified {
  background-image: image-url('steps/notified.svg');
}
.icon--propose {
  background-image: image-url('steps/propose.svg');
}
.icon--decide {
  background-image: image-url('steps/decision.svg');
}
.icon--reward {
  background-image: image-url('steps/reward.svg');
}

.icon--email {
  background-image: image-url('social/mail.svg');
}
.icon--dcent {
  background-image: image-url('social/dcent.svg');
}
.icon--twitter {
  background-image: image-url('social/twitter.svg');
}
