.icon--setup {
  background-image: image-url('steps/open.svg');
}
.icon--notified {
  background-image: image-url('steps/notified.svg');
}
.icon--propose {
  background-image: image-url('steps/propose.svg');
}
.icon--decide {
  background-image: image-url('steps/decision.svg');
}
.icon--reward {
  background-image: image-url('steps/reward.svg');
}

.icon--notified-white {
  background-image: image-url('product-icons/notified.svg');
}
.icon--propose-white {
  background-image: image-url('product-icons/propose.svg');
}
.icon--decide-white {
  background-image: image-url('product-icons/decision.svg');
}
.icon--reward-white {
  background-image: image-url('product-icons/reward.svg');
}
.icon--open-white {
  background-image: image-url('product-icons/open.svg');
}


.icon--setup-arrow {
  background-image: image-url('steps/step-arrows/setup.svg');
}
.icon--notified-arrow {
  background-image: image-url('steps/step-arrows/notified.svg');
}
.icon--propose-arrow {
  background-image: image-url('steps/step-arrows/propose.svg');
}
.icon--decide-arrow {
  background-image: image-url('steps/step-arrows/decision.svg');
}
.icon--reward-arrow {
  background-image: image-url('steps/step-arrows/reward.svg');
}

.icon--email {
  background-image: image-url('social/mail.svg');
}
.icon--dcent {
  background-image: image-url('social/dcent.svg');
}
.icon--twitter {
  background-image: image-url('social/twitter.svg');
}
