$product__image--width: 270px;
$product__image--height: 180px;
$product--padding: 1.5rem;

.product {
  position: relative;
  margin-bottom: 1em;
  padding: $product--padding;
  background-color: $dark_pink;
  text-align: center;
  color: $white;
  border-radius: 3px;
  &--secure-notifications {
    background-color: #b19442;
  }
  &--block-chain {
    background-color: #93548c;
  }
  &--collaborative-policy {
    background-color: #29767d;
  }
  &--electronic-voting {
    background-color: #36898f;
  }
  &--open-auth {
    background-color: #681857;
  }

  @include width-from($medium_device) {
    margin: 0.5em;
    display: flex;
    flex: 1;
    text-align: left;
    padding-bottom: 6rem;
    justify-content: center;
    //align-content: flex-start;
    &--full-width {
      flex-basis: 100%;
    }
  }

  &__text {
    @include width-from($medium_device) {
      flex: 1;
      align-self: flex-end;
      padding-top: 1.5rem;
      padding-right: 0.5rem;
      &--align-middle {
        align-self: center;
      }
    }
  }
}

.product__name {
  line-height: 1.1;
  margin-top: 0;
  margin-bottom: 1rem;
  letter-spacing: -0.02rem;
  @include font-size(24px);
  @include width-from($medium_device) {
    //@include font-size(34px);
  }
  @include width-from($large_device) {
    @include font-size(29px);
  }
  @include width-from($extra_large_device) {
    @include font-size(34px);
  }
}

.product__description {
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: 1.35;
  @include font-size(16px);
  @include width-from($medium_device) {
    @include font-size(18px);
  }
}

.product__image {
  display: none;
  border-radius: 3px;
  @include width-from($medium_device) {
    display: block;
    float: right;
    width: $product__image--width;
    height: $product__image--height;
    padding-left: 20px;
  }
}
.product__image-img {
  width: 100%;
  height: auto;
  border-radius: inherit;
}

.product-links {
  @include reset-list;
  @include clearfix;
  margin-top: 0;
  margin-bottom: 0;
  @include width-from($medium_device) {
    position: absolute;
    bottom: $product--padding;
    left: $product--padding;
    right: $product--padding;
    max-width: 270px;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
  }
  &--align-right {
    @include width-from($medium_device) {
      left: calc(100% - 270px);
      right: $product--padding;
    }
  }
  &__item {
    display: block;
    width: 50%;
    float: left;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    &:first-child {
      //margin-bottom: 0.5rem;
      //margin-right: 0.25rem;
    }
  }
}
