$product__image--width: 270px;
$product__image--height: 180px;

.product {
  clear: both;
  position: relative;
  margin-bottom: 3em;
  padding-top: 0.35rem;
  text-align: center;
  @include width-from($medium_device) {
    text-align: left;
    margin-bottom: 6em;
  }
}

.product__name {
  margin-top: 0;
  margin-bottom: .5rem;
  @include font-size(24px);
  color: $dark_cyan;
  @include width-from($medium_device) {
    @include font-size(28px);
  }
}

.product__description {
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: 1.35;
  @include font-size(16px);
  @include width-from($medium_device) {
    @include font-size(18px);
  }
}

.product__image {
  display: none;
  border-radius: 3px;
  @include width-from($medium_device) {
    display: block;
    float: right;
    width: $product__image--width;
    height: $product__image--height;
    padding-left: 20px;
  }
}
.product__image-img {
  width: 100%;
  height: auto;
  border-radius: inherit;
}

.product-links {
  @include reset-list;
  margin-top: 0;
  margin-bottom: 0;
  //clear: both;
}
.product-links__item {
  display: inline;
  margin-right: 0.25rem;
}