.product-grid-container {
  background: $light_grey;
  padding-left: 1em;
  padding-right: 1em;
}
.product-grid {
  max-width: $extra_large_device;
  margin: 0 auto;
  padding-top: 3em;
  padding-bottom: 3em;
  @include width-from($medium_device) {
    display: flex;
    flex-wrap: wrap;
  }
  &__group {
    @include width-from($medium_device) {
      display: flex;
      flex-basis: 100%;
    }
    @include width-from($large_device) {
      flex: 1;
    }
    &--two-thirds {
      @include width-from($large_device) {
        flex: 2;
      }
    }
  }
  &__sub-group {
    @include width-from($medium_device) {
      display: flex;
      flex-wrap: wrap;
    }
  }
}
