$product__image--width: 270px;
$product__image--height: 180px;
$product--padding: 1rem;

.product-intro {
  text-align: center;
  color: $dark_grey;
}


.product {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: .8em;
  padding: $product--padding;
  min-height: 10.5em;
  text-align: center;
  color: $white;
  // border-radius: 3px;
  &--citizens-notifications {
    $color: $notify--color;
    background-color: $color;
    background: linear-gradient(rgba($color, 0.8), rgba($color, 0.8)), image-url("tools/notifications.jpg") no-repeat;
    background-size: cover;
  }
  &--block-chain {
    $color: $reward--color;
    background-color: $color;
    background: linear-gradient(rgba($color, 0.8), rgba($color, 0.8)), image-url("tools/blockchain.jpg") no-repeat;
    background-size: cover;
  }
  &--collaborative-policy {
    $color: $propose--color;
    background-color: $color;
    background: linear-gradient(rgba($color, 0.8), rgba($color, 0.8)), image-url("tools/collab-policy.jpg") no-repeat;
    background-size: cover;
  }
  &--collaborative-policy-bar {
    $color: $propose--color;
    background-color: $color;
    background: linear-gradient(rgba($color, 0.8), rgba($color, 0.8)), image-url("tools/barcelona.jpg") no-repeat;
    background-size: cover;
  }
  &--collaborative-policy-mad {
    $color: $propose--color;
    background-color: $color;
    background: linear-gradient(rgba($color, 0.8), rgba($color, 0.8)), image-url("tools/madrid.jpg") no-repeat;
    background-size: cover;
  }
  &--collaborative-policy-rey {
    $color: $propose--color;
    background-color: $color;
    background: linear-gradient(rgba($color, 0.8), rgba($color, 0.8)), image-url("tools/reykjavik.jpg") no-repeat;
    background-size: cover;
  }
  &--electronic-voting {
    $color: $vote--color;
    background-color: $color;
    background: linear-gradient(rgba($color, 0.8), rgba($color, 0.8)), image-url("tools/evote.jpg") no-repeat 50% 50%;
    background-size: cover;
  }
  &--open-auth {
    $color: $auth--color;
    background-color: $color;
    background: linear-gradient(rgba($color, 0.8), rgba($color, 0.8)), image-url("tools/open-auth.jpg") no-repeat;
    background-size: cover;
  }
  &--secure-notifications {
    $color: $auth--color;
    background-color: $color;
    background: linear-gradient(rgba($color, 0.8), rgba($color, 0.8)), image-url("tools/secure-notifications.jpg") no-repeat;
    background-size: cover;
  }

  @include width-from($medium_device) {
    margin: 0.4em;
    display: flex;
    flex: 1;
    padding-bottom: 5rem;
    justify-content: center;
    align-self: stretch;
    &--two-thirds {
      flex: 2;
    }
    &--full-width {
      flex-basis: 100%;
    }
  }

  &__text {
    @include width-from($medium_device) {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-right: 0.5rem;
      &--align-middle {
        align-self: center;
      }
    }
  }
  &__header {
      width: 100%;
      display: flex;
      flex-direction: row;
      }
  &__icon {
    flex: 1;
    height: 45px;
    width: 35%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  &__icon--align-right {
    background-position: right;
    height: 55px;
  }
}

.product__name {
  flex: 2;
  line-height: 1.1;
  margin-top: 0;
  margin-bottom: 0;
  font-family: $heading_title_font_family;
  letter-spacing: -0.02rem;
  text-align: left;
  @include font-size(24px);
  @include width-from($medium_device) {
    @include font-size(20px);
    &__bigger-font {
      font-size: 33px;
      flex: 2;
    }
  }
  @include width-from($large_device) {
    //@include font-size(22px);
  }
  @include width-from($extra_large_device) {
    //@include font-size(24px);
  }
}

.product__description {
  margin-top: 1rem;
  padding-top: .3rem;
  line-height: 1.35;
  margin-bottom: -20px;
  @include font-size(16px);
  @include width-from($medium_device) {
    @include font-size(18px);
  }
}

.product__image {
  display: none;
  border-radius: 3px;
  @include width-from($medium_device) {
    display: block;
    float: right;
    width: $product__image--width;
    height: $product__image--height;
    padding-left: 20px;
  }
}

.product__image-img {
  width: 100%;
  height: auto;
  border-radius: inherit;
}

.product-links {
  @include reset-list;
  @include clearfix;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 2.5rem;
  @include width-from($medium_device) {
    position: absolute;
    bottom: $product--padding;
    margin-left: 0;
    left: .5rem;
    right: $product--padding;
    max-width: 270px;
  }
  &--align-right {
    @include width-from($large_device) {
      width: 100%;
      left: auto;
      right: -30px;
    }
  }
  &__item {
    display: block;
    width: 43%;
    float: left;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    &:first-child {
      //margin-bottom: 0.5rem;
      //margin-right: 0.25rem;
    }
  }
}
