.social-links {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #a8d3d7;
}
.social-links-list {
  @include reset-list;
  @include clearfix;
  max-width: $monster_large_device;
  margin: 0 auto;
  text-align: center;
}
.social-link {
  display: inline-block;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding-top: 0;
  padding-bottom: 0;
  border-radius: 50%;
  @include width-from($medium_device) {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  &__link {
    display: block;
    width: 120px;
    height: 120px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100px;
    border-radius: 50%;
    transition: background-color 250ms ease-in-out;
    &:hover {
      background-color: rgba($white,0.5);
    }
  }
  &__text {
    @include visuallyhidden;
  }
}