$step--guttering: 5px;

.step-group-container {
  @include clearfix;
  display: block;
  max-width: $monster_large_device;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-decoration: none;
  color: inherit;
  pointer-events: none;
}

.step-icon {
  background: $light_grey;
  height: 100px;
}

.step__icon-title {
  display: none;
  font-family: $heading_title_font_family;
  font-weight: bold;
  color: $dark_cyan;
  text-align: center;
}

.step-group {
  @include clearfix;
  margin-left: $step--guttering;
  margin-right: $step--guttering;
  margin-bottom: $step--guttering * 2;
  @include width-to($medium_device) {
    float: left;
    width: 40px;
  }

  &--icons {
    width: 150px;
    order: 3;
    @include width-from($medium_device) {
      width: auto;
    }
  }
}

.step {
  position: relative;
  text-align: center;
  padding-bottom: 5px;

  &:last-child .step__content {
    //border-bottom: 0;
  }


  &--quarter {
    @include column-one-fourth($medium_device, $step--guttering);

    .step__content {
      @include width-to($medium_device) {
        height: 100px;
        line-height: 100px;
      }
    }
  }
  &--three-quarter {
    @include column-three-fourths($medium_device, $step--guttering);

    .step__content {
      @include width-to($medium_device) {
        height: 310px;
        line-height: 310px;
      }
    }
  }

  &__title {
    text-indent: -9999px;
    @include width-from($medium_device) {
      text-indent: 0;
    }
  }

  //margin-bottom: 5px;

  &__content {
    color: $white;
    font-family: $heading_title_font_family;
    font-weight: bold;
    //border-bottom: 5px solid $white;
    border-radius: 3px;

    @include width-from($medium_device) {
      height: auto;
      padding: 1rem;
      @include font-size(20px);
      //border-bottom: 0;
    }


    &--secure-notifications {
      $color: #FFDB22;
      background-color: $color;
    }
    &--block-chain {
      $color: #F77DE8;
      background-color: $color;
    }
    &--collaborative-policy {
      $color: #00D3CA;
      background-color: $color;
    }
    &--electronic-voting {
      $color: #007E84;
      background-color: $color;
    }
    &--open-auth {
      $color: #690055;
      background-color: $color;
    }
  }


}