.middle-container {
  max-width: $extra_large_device;
  margin: 0 auto;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  @include width-from($medium_device) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
