$header_logo_image_path: 'd-cent.svg';

.header {
  @include clearfix;
  height: 100vh;
  max-height: $medium_device;
  background: $header_background_color image-url('background--small.jpg') repeat-x 0 50%;
  background-size: cover;
  @include width-from($medium_device) {
    height: 400px;
    background-image: image-url('background--medium.jpg');
    background-position: 50% 50%;
  }
}

.header__inner {
  @include vertical-middle-me;
  position: relative;
  //padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: center;
  @include width-from($medium_device) {
    //padding-left: 1rem;
    //padding-right: 1rem;
  }
}

.header__logo {
  height: 80px;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  background: image-url($header_logo_image_path) no-repeat 50% 50%;
  background-size: contain;
}

.header__intro {
  max-width: $large_device;
  margin-left: auto;
  margin-right: auto;
  color: $white;
}