$header_logo_image_path: 'd-cent.svg';

.header {
  @include clearfix;
  height: 480px;
  margin-bottom: 2rem;
  background-color: $header_background_color;
  @include width-from($medium_device) {
    margin-bottom: 3rem;
  }
}

.header__inner {
  position: relative;
  padding-top: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  @include width-from($medium_device) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.header__logo {
  height: 80px;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  background: image-url($header_logo_image_path) no-repeat 50% 50%;
  background-size: contain;
}
