@mixin photo-shadow {
  text-shadow: 0 2px 1px rgba(0,0,0,0.5);
}

a {
  color: inherit;
}

.page_title {
  margin-top: 0;
  margin-bottom: 0;
  @include font-size(28px);
  line-height: 1.1;
  color: $white;
  font-weight: bold;
  font-family: $heading_title_font_family;
  &--shadow {
    @include photo-shadow;
  }
  @include width-from($small_device) {
    @include font-size(30px);
  }
  @include width-from($medium_device) {
    @include font-size(36px);
  }
}
.lede {
  @include font-size(18px);
  line-height: 1.2;
  color: inherit;
  font-weight: 500;
  &--shadow {
    @include photo-shadow;
  }
  @include width-from($medium_device) {
    @include font-size(20px);
  }
}

.section-title {
  color: $dark_grey;
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
  @include font-size(26px);
  line-height: 1.1;
  font-weight: bold;
  font-family: $heading_title_font_family;
  @include width-from($medium_device) {
    @include font-size(32px);
  }
  &--light {
    color: $white;
  }
}