@import "utilities";
@import "variables";
@import "core/reset";
@import "core/base";
@import "core/typography";
@import "core/header";

@import "components/product";
@import "components/buttons";

.main-content {
  max-width: $medium_device;
  margin: 0 auto;
  padding-bottom: 1rem;
  padding-left: .75rem;
  padding-right: .75rem;
  @include width-from($medium_device) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.intro {
  margin-bottom: 1.5rem;
  @include width-from($medium_device) {
    margin-bottom: 3rem;
  }
}