@import "utilities";
@import "variables";
@import "core/reset";
@import "core/base";
@import "core/typography";
@import "core/header";

@import "components/grid";
@import "components/product";
@import "components/buttons";
@import "components/facts";

.main-content {
  max-width: $extra_large_device;
  margin: 0 auto;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  @include width-from($medium_device) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.intro {
  max-width: $large_device;
  margin: 0 auto 1.5rem auto;
  @include width-from($medium_device) {
    margin-bottom: 3rem;
  }
}