@import "utilities";
@import "variables";
@import "core/reset";
@import "core/base";
@import "core/typography";
@import "core/header";

@import "components/grid";
@import "components/product";
@import "components/buttons";
@import "components/facts";
@import "components/product_grid";
@import "components/tool_item";
@import "components/social_links";
@import "components/project_partner";
@import 'components/step_list';
@import 'components/icons';

.intro {
  max-width: $large_device;
  margin: 0 auto 1.5rem auto;
  @include width-from($medium_device) {
    margin-bottom: 3rem;
  }
}

.middle-container-wrapper {
  background: $light_grey;
  padding: 1em;
  @include width-from($medium_device) {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}
