extends layout/layout

mixin addProduct(title, demoURL, gitURL)
  .product
    .product__image
      +imageIncludeTag('temp.png', 'product__image-img')
    .product__text
      h2.product__name #{title}
      p.product__description
        block
    ul.product-links
      li.product-links__item: a.button(href="#{demoURL}") Demo
      li.product-links__item: a.button(href="#{gitURL}") Github


block vars
  - bodyClass = ""

block title
  | D-CENT

block headerScripts

block content

  .facts
    .fact-item
      .fact-item__icon
      p.fact-item_text
        strong Open source and open standards
        = " "
        | to share knowledge
    .fact-item
      .fact-item__icon
      p.fact-item_text
        strong Citizens ownership of data
        = " "
        | to say no to surveillance and economic exploration of our data and knowledege and give back citizens control and ownership
    .fact-item
      .fact-item__icon
      p.fact-item_text
        strong Shared and distributed authentication and identity management
        = " "
        | to grow the eco-system
    .fact-item
      .fact-item__icon
      p.fact-item_text
        strong Blockchain trust
        = " "
        | to let people run reward schemes that are transparent auditable to other organisations

  +addProduct("Objective8", "#demo", "#gitURL")
    | Readymade salvia vegan, locavore fap farm-to-table keytar Pitchfork listicle meh lomo 8-bit whatever scenester VHS.

  +addProduct("Open authentication", "#demo", "#gitURL")
    | Blue Bottle cray tilde four dollar toast fap, pop-up cornhole occupy migas.

  +addProduct("Secure notifications", "#demo", "#gitURL")
    | Blue Bottle cray tilde four dollar toast fap, pop-up cornhole occupy migas.

  +addProduct("Electronic voting", "#demo", "#gitURL")
    | Blue Bottle cray tilde four dollar toast fap, pop-up cornhole occupy migas.
