extends layout/layout

block vars
  - bodyClass = ""

block title
  | D-CENT

block headerScripts

block content

  .product
    h2.product-name Objective8
    p.product-description Readymade salvia vegan, locavore fap farm-to-table keytar Pitchfork listicle meh lomo 8-bit whatever scenester VHS. Pop-up flexitarian XOXO Etsy polaroid tousled. Blue Bottle cray tilde four dollar toast fap, pop-up cornhole occupy migas. Bicycle rights umami selvage drinking vinegar, literally skateboard cliche freegan Neutra disrupt yr authentic small batch. Mlkshk organic trust fund, gluten-free distillery Williamsburg semiotics post-ironic Banksy. Occupy scenester blog plaid kale chips, hoodie Banksy keytar chia you probably haven't heard of them. Hella mumblecore organic Godard.

